.cart__main
{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 80vw;
    align-items: flex-start;
    padding-top: 20vh;
    
}
.cart__item__img >img
{
    width: 250px;
}
.cart__item__name
    {
        text-align: center;
        color:#e72b61;
        font-size: 1.4rem;
        text-transform: capitalize;
        font-weight: bolder;
        padding-bottom: 1rem;
    }
.cart__item
{
        display: flex;
        align-items: flex-start;
        border: 1px solid rgba(212, 95, 192, 0.082);
        justify-content: space-evenly;
        margin-bottom: 2rem;
        padding: 1.2rem;
        border-radius: 10px;
        width: 100%;
        /* height: 34vh; */
    
    
}


.cart__total
{
    margin-left: 4rem;
    text-align: center;
    height: fit-content;
}


hr
{
    border: none;

}
.details
{   margin-top: 1rem;
    display: flex;
    width: 22vw;
    height: 5vh;
    justify-content: space-between;
    align-items: center;
    outline: none;
        
}
.quantity
{
    border-radius: 10px;
    padding: .2rem .5rem;
    font-size: 19px;
    /* background-color: #dc3545;   
    color: #fff; */
    
    width: 6vw;
    outline: none;
}

.price
{
    font-size: 1.2rem;
}
.remove__btn
{
    background-color: #dc3545;
    padding: 12px;
    border-radius: 20px;
    height: 7vh;
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    font-weight: bold;
    border:none;
}
.product__detail
{
    display: flex;
    flex-direction: column;
}
.cart__items
{
    padding: 1rem; 
    width: 60vw; 

}
.checkout__btn,
.checkout__btn:visited
{
    background-color: #1e90ff;
    padding:5px;
    border-radius: 20px;
    border-bottom-right-radius:0px;
    color: #fff;
    width: 15vw;
    height: 8vh;
    margin: 5rem auto;
    cursor: pointer;
    font-weight: bolder;
    font-size: .9rem;
    transition: all .4s ease-out;
    outline: none;
    text-decoration: none;
    text-align: center;
    border: none;
}
.cart__total h2{
    font-weight: 100;
    font-size: 1.2rem;
    margin-bottom: 1rem;

}
.cart__total h2 span{ 
    font-weight: 700;
    font-size: 1rem;
    display: inline;
    color: #e72b61;
    font-style: italic;

}

.checkout__btn:hover
{
    border-top-left-radius:0px;
    border-bottom-right-radius:20px;
    box-shadow: 1px 5px 15px 10px rgba(59, 59, 59, 0.426);
}
.checkout__btn:focus
{
    
    box-shadow: 1px 0px 15px 10px rgba(59, 59, 59, 0.226);
}

@media only screen and (max-width : 480px)
{
    .cart__item__img >img
    {
        width: 30vw;
        margin-top: 3rem;
        border-radius: 20px;
    }
    .cart__item__name
    {
        font-size: 1.1rem;
    }
    .cart__main
    {
        flex-direction: column;
        margin: 0;
    }
    .cart__total{
        margin-left: 0;
        width: 100vw;
        order:-1;
        margin-top:0;}
    .cart__item
    {
        margin-left: 0%;
        width: 90vw;
        margin: 3rem 0;
        height: inherit;
    }
    .checkout__btn
    {
        width: 50vw;
        font-size: .8rem;
        margin:1.5rem auto
    }

}
@media only screen and (min-width: 481px) and (max-width : 768px)
{
    .cart__main{
        flex-direction: column-reverse;
    }
    .cart__items
    {
        width: 90%;
    }

    .cart__item
    {
        margin-bottom: 1rem;
        padding: 1rem;
        border-radius: 10px;
        justify-content: space-around;
    }
    .checkout__btn
    {
        width: 100%;
        margin: 1rem 0rem;
        font-size: 1rem;
    }
    .cart__total
    {
        margin: 1rem  auto;
    }
    .cart__item__name
    {
        text-align: center;
        color:#e72b61;
        font-size: 1.4rem;
        text-transform: capitalize;
        font-weight: bolder;
        padding-bottom: 1rem;
    }
    .cart__item img
    {
        width: 180px;
        margin-right: 20px;
        border-radius: 10px;
    }
}
/* 
@media only screen
and (min-width : 768px)
and (max-width : 920px) {
    .cart__main{
        flex-direction: row;
        padding: 5rem;
        align-items: start;
    } 
    .cart__items{
        width: 80vw;
    }
    .cart__total{
        margin-top: 5rem;
        margin-left: 0;
}
    .checkout__btn{
        width:100%;
        font-size: .8rem;
    }
} */
@media only screen and (min-width: 800px) and (max-width : 1000px)
{}