.payment__form
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}
.payment__form > form{
    display: flex;
    margin-top: 1.5rem;
    flex-direction: column;
    width: fit-content;
    padding: 2rem;
    
}
.payment__form > form > input, .payment__form > form > select{
    height: 5vh;
    width:  40vw;
    margin-bottom: 1rem;
    border: none;
    border: 2px solid rgba(0, 0, 0, 0.336);
    padding: 1rem;
    font-family: cursive;
    outline: none;
    border-radius: 8px;

}
.payment__form > form > select{
    padding: 0.4rem 1rem;

}

.payment__form > form > button{
    background-color: #1e90ff;
    color: #fff;
    width: 30%;
    margin: auto;
    height: 40px;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 1.2rem;
}
.payment__form > .payment__form__heading
{
    text-align: center;
}
@media only screen and (max-width:480px)
{
    .payment__form > form > input, .payment__form > form > select
    {
        width: 70vw;
        border-radius:7px;
        height: 6%;
    }
    .payment__form__heading
    {
        font-size: 1.2rem;
    }
}