/* @import url('https://fonts.googleapis.com/css2?family=Stick&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
*
{
    box-sizing: border-box;
}

.store__container {
    background-color: var(--body-bg);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(4, 1fr); */
    place-items:center;
    justify-content: center;
    grid-gap: 20px;
    padding: 2rem;
    grid-row-gap: 150px;
    margin: auto;
    padding: 5rem;
}

.carousel
{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 90vh;
margin-top: 5rem ;
}
.carousel__image
{
  position: relative;
  width: 100vw;
  height: inherit;
  object-fit: cover;
  
}
.carousel__heading
{
    position: absolute;
    color: #fff;
    font-size: 2rem;
    text-shadow: 1px 1px black;
    text-align: center;
}
.store__heading
{
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Krona One', sans-serif;
    padding: 1rem;
    margin: 2rem auto;
    margin-bottom: 0;
}
@media only screen and (max-width: 480px){
    .store__container {
       
        grid-template-columns: 1fr;
        place-items: stretch;
        padding-top: 0;
     
    }
    .cart__btn:hover > span {
        display: none;
        /* margin-right: 10px; */
    }
    .carousel__image
    {
        margin-top: 1rem;
        width: 100%;
    }
    .carousel__heading
    {
        font-size: 2rem;
        width: 70%;
        text-align: center;
        
    }
    .carousel
    {
        height: inherit;
    }
    .store__heading
{
    font-size: 1.5rem;
}
}
@media only screen and (min-width: 481px) and (max-width: 770px)
{ 
    .store__container {
       
        grid-template-columns: repeat(2, 38vw);
        grid-template-rows: auto;
        grid-row-gap: 80px;
        place-items: stretch;
       
     
    }
   
    .store__container  .product{
        margin-right: 0;
        width: inherit;
    }
    .store__container  .product__details{
        margin-right: 0;
        width:initial;
    }
    .store__container .product__image > img {
        height: initial;
        width: 100%;
    }
    .cart__btn:hover > span {
        display: none;
        /* margin-right: 10px; */
    }
    
}

/* @media only screen
and (min-width : 768px)
and (max-width : 1024px) {
   .store__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-row-gap: 100px;
    place-items: start;
   }
} */