.variant{
    border: 1px solid var(--blue);
    margin-bottom: 1rem;
    display:flex;
    justify-content: space-between;
    font-size:.9rem;
    padding: 10px 5px;
    width:80%;
    background: var(--blue);
    border-radius: 10px;
    /* margin-left: 20px; */
color: rgb(255, 255, 255);
    
}
.cart__product__price__group
{
    margin-left: 1rem;

}

.cart__item .cart__product__price__group > input{
    display: flex;
    padding: 0;
}
.variant__quantity{
    font-style: italic;
    font-size: .8rem;
    margin-left: 10px;
    
}
.cart__item__bottom
{
    display: flex;
    /* justify-content: flex-start; */
}
.cart__item__bottom > input
{
    text-align: center;
    width: 20%;
}
.cart__item__bottom > button
{
    margin-left: 1rem;
    border: none;
    outline: none;
    font-size:.9rem;
    padding: 10px 5px;
    background: #e72b61n;
    border-radius: 10px;
    color: rgb(255, 255, 255);   
    width: 50%;
}
@media only screen and (min-width:768px)
{
    .cart__item .cart__product__price__group
    {
        
        width: 100%;
    }
    .cart__item .cart__product__price__group .variant__price,
    .cart__item .cart__product__price__group .variant__quantity
    {
        font-size: .7rem;

    }
}