.footer
{
    display: flex;
    justify-content: space-between;
    padding:2rem;
    /* padding-top: 2rem; */
    background-color: rgba(59, 145, 230, 0.39);

}

span{
    display: block;
    font-size: 20px;
}

ul li{
    list-style: none;
    font-size: 1.1rem;
    padding-top: 1rem;
}

.footer__heading
{
    padding-top: 2rem;
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.footer__image
{
    width: 30vw;
    height: 40vh;
    filter: drop-shadow(12px 10px 10px #0000007a);
}
h2>span{
    display: block;
    font-size: 0.9rem;
}

.footer__more
{
    width: 30vw;
}
.footer__more p{
    margin-top: 1rem;
    font-size: 1.1rem;
   
}

@media only screen and (max-width : 480px)
{
    .footer
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 0;

    }
    .footer__name
    {
        order:2;
    }
    .footer> div
    {
        margin-bottom: 2rem;
    }
    ul>li
    {
        text-align: center;
        padding: 5px;
    }
    .footer__image
    {
        width: 100vw;
        height: 80%;
    }
    .footer__more {
        width: 100%;
    }
   
    .contact__hero
    {
        padding-top: 0;
    }
    .footer__heading
    {
        text-align: center;
    }
    .footer__more p{
        text-align: center;     
    }
}
@media only screen and (min-width: 481px) and (max-width : 768px)
{
    .footer
    {
        flex-wrap: wrap;
    }
    .footer__name
    {
        margin-top: 1.5rem;
        order: 4;
        width: 100%;
    }
    .footer__name > .footer__image
    {
        width: 100%;
    }
    .footer__address > h2, .footer__services > h2
    {
        text-align: start;
    }
    .footer__more > p
    {
        padding: 0.7rem 3rem;
        text-align: center;

    }
    
}