.product__banner{
    position: relative;
    display: flex;
    width: 80vw;
    margin: 0 auto;
    /* padding: 5rem; */
    padding: 5rem auto;
}
.product__banner .banner__backdrop {
    position: absolute;
    top: 4%;
    left: 0;
    padding: 10rem;
    width: 38vw;
    height: 90%;
    z-index: -111;
    background: linear-gradient(to right, #48484838, #dadada6b);
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    display: none;
}
.product__banner:nth-of-type(odd) .banner__backdrop {
    
    display: block;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    width: 100vw;
    height: 120%;
    top: -25%;
    left: -12%;
    transform: skewY(10deg);
    
     background: linear-gradient(to left, #48484820, #c9c9c91c);
     
   
}
.info{
    margin-right: 0;
    padding: 2rem;
    justify-content: center;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
}
.margin__bottom
{
    margin-bottom: 8rem;
}

.info > h2{
    font-size: 2rem;
    margin: 0;
}
.info > p{
    font-size: 1.3rem;
    line-height: 25px;
    opacity: .9;
}

.product__banner:nth-of-type(odd) > .info{
    
    text-align:left;
    order:-1;
    margin-right:10px;
    
}

@media only screen and (max-width : 480px)
{
    
.product__banner
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: initial;
    margin-top: 5rem;
    padding: 0px 1rem 1rem 1rem;
    margin-top: 0rem;
}
.info{
    display: none;
    margin-top: 0;
}




}

@media only screen and (min-width: 481px) and (max-width : 768px)
{
    .product__banner
    {
        flex-wrap: wrap;
        height: fit-content;
        justify-content: center;
        align-items: center;
        width: initial;
        padding-bottom: 0rem;
    }
    .info{
        margin-top: 3rem;
        width: 100%;
        padding-bottom: 0;
       
    }
    .info h2{
        text-align: center;
        font-size: 1.2rem;
    }
    .info> p{
        padding-top: 1rem;
        text-align: center;
        font-size: 1rem;
    }
    
    .product__banner:nth-of-type(odd) > .info{
    
        text-align:left;
        order:0;
        margin-right:10px;
        
    }
    .product__banner:nth-of-type(odd) .banner__backdrop {
        left:0%;
    }
  

}
